/*
https://dlsc.com/2014/07/11/javafx-tip-7-use-css-color-constants-derive-colors/
https://docs.oracle.com/javafx/2/css_tutorial/jfxpub-css_tutorial.htm

JavaFX elements CSS default references
https://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#button
*/

.root {
    -primary-700: #223b3e;
    -primary-500: #386165;
    -primary-300: #438590;

    -gray-700: #9EA6AD;
    -gray-500: #B0B6BC;
    -gray-300: #C9CFD4;

    -fx-text-fill: #386165;
    -bg-light-200: #e0e6e6;
    -bg-light-100: #eaf3f4;

    -fx-background-color: -bg-light-200;
}

/* Button styles */
.button {
    -fx-background-color: -primary-500;
    -fx-border-radius: 4000px;
    -fx-background-radius: 4000px;
    -fx-text-fill: white;
    -fx-padding: 6px 16px;
    -fx-cursor: hand;
    -fx-fill: white;
}
.button:hover {
    -fx-background-color: -primary-700;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1) , 10, 0.1, 1, 1);
}

.btn-secondary {
    -fx-background-color: -gray-300;
    -fx-text-fill: black;
}

.btn-secondary:hover {
    -fx-background-color: -gray-500;
}

.text-field {
    -fx-background-color: -bg-light-100;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: -gray-500;
    -fx-border-width: 1;
}

.text-field:focused {
    -fx-border-color: -primary-700;
    -fx-background-color: -bg-light-100;
}

.text-area {
    -fx-border-radius: 4px;
    -fx-border-color: -gray-500;
    -fx-border-width: 1;
}

.text-area .content {
    -fx-background-color: -bg-light-100;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 4px;
}
.text-area:focused .content {
    -fx-border-color: -primary-500;
}

/*--// ComboBox //--*/
.combo-box {
    -fx-background-color: -bg-light-100;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: -gray-500;
    -fx-border-width: 1;
}
.combo-box:focused {
    -fx-border-color: -primary-500;
}

.error-text {
    -fx-text-fill: red;
}

.box-button {
    -fx-pref-height: 120px;
    -fx-pref-width: 120px;
    -fx-max-height: 120px;
    -fx-max-width: 120px;
    -fx-padding: 0px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}


.user-icon {
    -fx-background-color: red;
    -fx-background-radius: 999;
    -fx-border-color: red;
    -fx-border-width: 12px;
}


.hero-image {
    -fx-background-image: url("images/hero-image.jpg");
    -fx-background-size: cover;
}

nav-heading {
    -fx-background-color: red;
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-border-width: 0;
    -fx-border-style: none;
}

.sidenav {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1) , 10, 0.1, 1, 1);
    -fx-border-width: 0px;
    -fx-border-style: none;
}



/**/
.sidebar {
    -fx-background-color: -bg-light-200;
    -fx-pref-height: 700;
    -fx-text-alignment: center;
}

.sidebar .button {
    -fx-pref-width: 200px;
}

.display-text {
    -fx-font-size: 16px;
    -fx-font-weight: 600;
    -fx-fill: -primary-500;

    -fx-stroke-type: outside;
}
.display-text-title {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-fill: -primary-500;
    -fx-text-alignment: left;
    -fx-stroke-type: outside;
}

